%article.iniciativa{:class => "#{(iniciativa.main?)? 'main' :  ''}"}
  - if iniciativa.main?
    %h2.estrella La m&aacute;s vista
  .content
    .iniciativa_icon
      = link_to image_tag('front/iniciativa.png'), iniciativa_path(iniciativa)
    .iniciativa_info
      %p.info
        = I18n.localize(iniciativa.presented_at, :format => :month_year)
        %br
        Propuesta por:
        %span
          = link_to iniciativa.representative.name, congresista_path(iniciativa.representative) if iniciativa.representative
    
      %p.description
        = iniciativa.description

    - temas(iniciativa)
  
    - estado_de_iniciativa(iniciativa)
    
    - votacion_oficial(iniciativa)
    
    - votacion_local(iniciativa)
  
  .aside
    %ul
      %a{:href => iniciativa_path(iniciativa)}
        %li.comenta
          vota
          comenta
      %li.votos
        %span
          = iniciativa.total_votes
        votos
      %li.comentarios
        %span
          = iniciativa.comments.count
        comentarios
      %li.numero_iniciativa
        %span= iniciativa.id
        #{'#'} de iniciativa
      %li.share
        .share-fb
          <a name="fb_share" type="button" share_url="#{iniciativa_url(iniciativa)}">Enviar</a>
        .share-tw
          <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-lang="es" data-text="#{iniciativa.description[0..70]}..." data-url="#{iniciativa_url(iniciativa)}">Tweet</a>

  - content_for(:javascript_onload) do
    $("#comment-modal-#{iniciativa.id}").modal(true)
      