%article.iniciativa{:class => "#{(iniciativa.main?)? 'main' :  ''}"}
  - if iniciativa.main?
    %h2.estrella La m&aacute;s vista
  .content
    %p.info
      = iniciativa.presented_at.to_s(:month_year)
      %br
      Propuesta por:
      %span
        = link_to iniciativa.representative.name, congresista_path(iniciativa.representative)
    
    %p.description
      = iniciativa.description
    
    %p  
      = link_to 'resumen completo >>', iniciativa_path(iniciativa)
    
    - temas(iniciativa)
  
    - estado_de_iniciativa(iniciativa)
    
    - votacion_oficial(iniciativa)
    
    - votacion_local(iniciativa)
  
  .aside
    %ul
      %a{:href => iniciativa_path(iniciativa)}
        %li.comenta
          vota
          %br
          comenta
      %li.votos
        %span
          = iniciativa.total_votes
        %br
        votos
      %li.comentarios
        %span
          = iniciativa.comments.count
        %br
        comentarios
      %li.share
        .share-fb
          <div class="fb-send" data-href="http://voces.herokuapp.com/"></div>
        .share-tw
          <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-lang="es" data-text="#{iniciativa.title[0..80]}... #{iniciativa_url(iniciativa)}">Tweet</a>

  - content_for(:javascript_onload) do
    $("#comment-modal-#{iniciativa.id}").modal(true)
      