%h1 
  iniciativas
  = " - tema: #{@topic.name}" if params[:controller] == 'temas'
  = " - busqueda: #{@query[:keywords]}" if params[:controller] == 'search_initiatives'

%aside
  %h2
    buscar iniciativa
  
  = form_tag search_initiatives_path, :method => :post do |form|
  
    = text_field_tag 'search[keywords]', '', :placeholder => 'palabras clave', :class => 'input'
  
    = submit_tag :buscar, :class => 'button'
  
  %h2
    temas
  %ul.ul-aside
    - @temas.each do |tema|
      %li= link_to tema.name, tema_path(tema)

%section.container
  = render :partial => 'iniciativas/iniciativa', :collection => @iniciativas, :locals => { :show => false }
  = paginate @iniciativas, window: 2
  
- content_for(:javascript_onload) do
  $('#presentacion').popover({html : true, placement: 'above'});
  $('#comision').popover({html : true, placement: 'above'});
  $('#en_pleno').popover({html : true, placement: 'above'});
  $('#proyecto').popover({html : true, placement: 'above'});