%aside
  %a{:href => "#{entiende_tu_congreso_path}"}
    %section
      %ul
        %li
          = image_tag 'front/como_curul.png'
        %li
          %h4 ¿como funciona curul 501?

  %a{:href => "#{proceso_legislativo_path}"}
    %section
      %ul
        %li
          = image_tag 'front/proceso_legislativo.png'
        %li
          %h4 
            ¿como funciona el proceso 
            %br
            legislativo?

  %a{:href => "#{como_funciona_congreso_path}"}
    %section
      %ul
        %li
          = image_tag 'front/como_funciona.png'
        %li
          %h4 
            ¿como funciona el 
            %br
            congreso?
        
  %a{:href => "#{abc_legislativo_path}"}  
    %section
      %ul
        %li
          = image_tag 'front/abc.png'
        %li
          %h4 abc legislativo