= image_tag('front/banner-home.png')
.twitter
  .twitter-content
    .tweet

%article#home
  %h1 iniciativas
  
  %p Las iniciativas son Lorem ipsum dolor adipiscing elit. Morbi varius facil isistelus ut sollic udin Lorem ipsum dolor sit amet, consec tetur adip iscing elit. Morbi  varius facilisistel lus usollic udin Lorem ipsum dolor sit amet, consec tetur adip iscing elit. Morbi  varius facil
  
  .iniciativas
    %h2 las propuestas mas vistas
    .iniciativa
      - if @iniciativa_main    
        %p.info
          = @iniciativa_main.presented_at.to_s(:month_year)
          %br
          Propuesta por:
          %span
            = @iniciativa_main.presented_by

        %p.description
          = @iniciativa_main.description

        %ul.colores
          %li.comenta
            vota
            %br
            = link_to 'comenta', '#', 'data-controls-modal' => "comment-modal-#{@iniciativa_main.id}"
          %li.votos
            %span
              = @iniciativa_main.total_votes
            %br
            votos
          %li.comentarios
            %span
              = @iniciativa_main.comments.count
            %br
            comentarios

        %ul.info
          %li
            estado de la iniciativa
            %span= @iniciativa_main.state_formated
          %li
            votacion oficial
            %span 
              a favor:
              = "#{@iniciativa_main.official_percentage_up}%"
            %span 
              en contra:
              = "#{@iniciativa_main.official_percentage_down}%"
          %li
            votacion 131 voces
            %span 
              a favor:
              = "#{@iniciativa_main.percentage_votes_up}%"
            %span 
              en contra:
              = "#{@iniciativa_main.percentage_votes_down}%"

    .iniciativa.margin-left-30
      - if @iniciativa    
        %p.info
          = @iniciativa.presented_at.to_s(:month_year)
          %br
          Propuesta por:
          %span
            = @iniciativa.presented_by

        %p.description
          = @iniciativa.description

        %ul.colores
          %li.comenta
            vota
            %br
            = link_to 'comenta', '#', 'data-controls-modal' => "comment-modal-#{@iniciativa.id}"
          %li.votos
            %span
              = @iniciativa.total_votes
            %br
            votos
          %li.comentarios
            %span
              = @iniciativa.comments.count
            %br
            comentarios

        %ul.info
          %li
            estado de la iniciativa
            %span= @iniciativa.state_formated
          %li
            votacion oficial
            %span 
              a favor:
              = "#{@iniciativa.official_percentage_up}%"
            %span 
              en contra:
              = "#{@iniciativa.official_percentage_down}%"
          %li
            votacion 131 voces
            %span 
              a favor:
              = "#{@iniciativa.percentage_votes_up}%"
            %span 
              en contra:
              = "#{@iniciativa.percentage_votes_down}%"


  .buscar
    %h2 buscar iniciativa
    = form_for @search, :url => iniciativas_path, :method => :get do |form|
      = form.text_field :title_or_description_contains, :placeholder => 'palabras claves'
      = form.select :representative_region_name_contains, options_for_select(Region.all.collect {|region| [region.name, region.id]}), :prompt => 'estado'
      = form.select :representative_political_party_name_contains, options_for_select(PoliticalParty.all.collect {|political_party| [political_party.name, political_party.id]}), :prompt => 'partido politico'
      = select_month(Date.today)
      = select_year(Date.today)
      = submit_tag 'Buscar', :class => 'button'
      
.integrantes
  .integrantes-content
    %h2 integrantes del congreso
    = form_for @search, :url => iniciativas_path, :method => :get do |form|
      .input
        = form.label :buscar_por_nombre
        %br
        = form.text_field :title_or_description_contains
      .input
        = form.label :entidad
        %br
        = form.select :representative_region_name_contains, options_for_select(Region.all.collect {|region| [region.name, region.id]}), :include_blank => true
      .input
        = form.label :partido
        %br
        = form.select :representative_political_party_name_contains, options_for_select(PoliticalParty.all.collect {|political_party| [political_party.name, political_party.id]}), :include_blank => true, :placeholder => 'partido politico'
      .input-button
        = submit_tag 'Buscar', :class => 'button'

.entiende
  %h2 entiende tu congreso
  %p “Entiende tu Congreso” te facilita las siguientes herramientas para Lorem ipsum dolor sit amet,  consectetur adipiscing  consectetur adipiscing  consectetur adipiscing elit.Morbi varius facilisis tellus ut sollicitudin.
  %a{:href => "#{entiende_tu_congreso_path}"}
    %section.push.left
      %ul
        %li
          = image_tag 'front/como_curul.png'
        %li
          %h4 ¿como funciona curul 501?
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi varius facilisis tellus ut sollicitudin.

  %a{:href => "#{proceso_legislativo_path}"}
    %section.push
      %ul
        %li
          = image_tag 'front/proceso_legislativo.png'
        %li
          %h4 
            ¿como funciona el proceso 
            %br
            legislativo?
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi varius facilisis tellus ut sollicitudin.

  %a{:href => "#{como_funciona_congreso_path}"}
    %section.push
      %ul
        %li
          = image_tag 'front/como_funciona.png'
        %li
          %h4 
            ¿como funciona el 
            %br
            congreso?
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi varius facilisis tellus ut sollicitudin.

  %a{:href => "#{abc_legislativo_path}"}  
    %section.no-margin
      %ul
        %li
          = image_tag 'front/abc.png'
        %li
          %h4 abc legislativo
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi varius facilisis tellus ut sollicitudin.
          
<script>
jQuery(function($){
$(".tweet").tweet({
username: "curul501",
count: 3,
loading_text: "cargando tweets...",
template: "{text}"
});
});
</script>