%fieldeset
  %legend Iniciativa
  .control-group
    = form.label :id, class: 'control-label'
    .controls
      = form.text_field :id, :class => 'xxlarge', :disabled => :disabled

  .control-group
    = form.label :numero, class: 'control-label'
    .controls
      = form.text_field :number, :class => 'xxlarge'

  .control-group
    = form.label :titulo, class: 'control-label'
    .controls
      = form.text_field :title, :class => 'xxlarge'

  .control-group
    = form.label :descripcion, class: 'control-label'
    .controls
      = form.text_area :description, :class => 'tinymce'

  .control-group
    = form.label :presentado_en, class: 'control-label'
    .controls
      #presented_at.input-append.date{'data-date' => "#{@initiative.try(:presented_at) || Time.now.strftime('%Y-%m-%d')}", 'data-date-format' => 'yyyy-mm-dd'}
        = form.text_field :presented_at
        %span.add-on
          %i.icon-calendar

  .control-group
    = form.label :presentado_por, class: 'control-label'
    .controls
      = form.text_field :presented_by_token, "data-pre" => @initiative.representative.to_json(methods: :name)

  .control-group
    = form.label :comisiones, class: 'control-label'
    .controls
      = form.text_field :commission_tokens, "data-pre" => @initiative.commissions.to_json

  .control-group
    = form.label :temas, class: 'control-label'
    .controls
      = form.text_field :topic_tokens, "data-pre" => @initiative.topics.map(&:attributes).to_json

  .control-group
    = form.label :estado, class: 'control-label'
    .controls
      = form.select :state, Initiative::STATES.to_a.each {|t| t.reverse!}

%fieldeset
  %legend Recursos Adicionales
  
  = form.fields_for :resources do |resource_form|
    .control-group
      = resource_form.label :nombre, class: 'control-label'
      .controls
        = resource_form.text_field :name, :class => 'xxlarge'

    .control-group
      = resource_form.label :url, class: 'control-label'
      .controls
        = resource_form.text_field :url, :class => 'xxlarge'

%fieldeset
  %legend Votaciones

  .control-group
    = form.label :a_favor, class: 'control-label'
    .controls
      = form.text_field :official_vote_up, :class => 'xxlarge'

  .control-group
    = form.label :en_contra, class: 'control-label'
    .controls
      = form.text_field :official_vote_down, :class => 'xxlarge'

  .control-group
    = form.label :abstenciones, class: 'control-label'
    .controls
      = form.text_field :official_vote_abstentions, :class => 'xxlarge'

  = form.fields_for :official_votes do |official_vote_form|
    .control-group
      %label.control-label
        = image_tag(official_vote_form.object.political_party.logo.url(:thumb))
      .controls
        = official_vote_form.text_field :votes, :class => 'xxlarge'
        = official_vote_form.hidden_field :political_party_id

- content_for :javascript do
  $('#presented_at').datepicker();