!!! 5
%html
  %head
    %title
      Administracion
    = stylesheet_link_tag    "admin", :media => "all"
    = javascript_include_tag "admin"
    =# tinymce_assets
    = csrf_meta_tags

  %body
    .container-fluid.nopadding
      .row-fluid
        .span12
          #header
            %a
              PP Peru
            .hright
              .column#userinfo
                %a{class: 'userinfo dropown-toggle', 'data-toggle' => 'dropdown'}
                  %span
                    %strong
                      Admin
                %ul.dropdown-menu
                  %li
                    %a
                      Edit Profile
                  %li.divider
                  %li=# link_for_user_login_or_logout

    .container-fluid#container
      .row-fluid
        .span3.leftmenu
          %ul.nav
            %li{}
              %a{}
                %span.ico
                  %i.icon-home
                %span.text
                  Dashboard
            %li
              = link_to admin_initiatives_path do
                %span.ico
                  %i.icon-home
                %span.text Iniciativas
            %li
              = link_to admin_topics_path do
                %span.ico
                  %i.icon-file
                %span.text Temas
            %li
              = link_to admin_political_parties_path do
                %span.ico
                  %i.icon-file
                %span.text Partidos Politicos
            %li
              = link_to admin_representatives_path do
                %span.ico
                  %i.icon-file
                %span.text Representantes
            %li
              = link_to admin_commissions_path do
                %span.ico
                  %i.icon-file
                %span.text Comisiones
            %li
              = link_to admin_admins_path do
                %span.ico
                  %i.icon-file
                %span.text Usuarios


        #content.span9
          - flash.each do |name, msg|
            %div{:class =>"alert alert-#{name == :notice ? 'success' : 'error'}"}
              %a{:class => 'close', 'data-dismiss' => 'alert'}x
              = msg

          = yield

=# tinymce
