!!! 5
%html
  %head
    %title Curul 501
    = stylesheet_link_tag 'front'
    = javascript_include_tag 'application'
    = javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js'
    = csrf_meta_tag
    

  %body
    #container
      %header
        = link_to image_tag('front/logo.png'), root_path
        %nav
          %ul
            %li= link_to 'iniciativas', iniciativas_path
            %li= link_to 'integrantes del congreso', congresistas_path
            %li= link_to 'entiende tu congreso', entiende_tu_congreso_path
            %li= link_to 'comparescencias', '#'
            %li= link_to 'blog', '#'
            %li= link_to 'contacto', new_contacto_path

      %section#main-content
        = yield
      %footer
        %ul
          %li ligas de interes
          %li preguntas frecuentes
          %li mapa del sitio
      = yield :modals
      %script{:type => 'text/javascript'}
        $(function(){
        = yield :javascript_onload
        })
        
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) {return;}
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=287374454607456";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>