!!! 5
%html{:class => params[:controller]}
  %head
    %title 
      Curul 501
      =h yield(:title)
    %link{:href => 'http://fonts.googleapis.com/css?family=Cuprum', :rel => 'stylesheet', :type => 'text/css'}
    = stylesheet_link_tag 'front'
    = javascript_include_tag 'application'
    = javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js'
    = csrf_meta_tag
    

  %body
    #container
      %header
        .logo
          = link_to image_tag('front/logo.png'), root_path
        .navigation
          %div
            %ul.follow
              %li siguenos en
              %li= link_to image_tag('front/twitter-bg.png'), 'http://www.twitter.com/curul501', :target => '_blank'
              %li= link_to image_tag('front/facebook-bg.png'), 'http://www.facebom.com/curul501', :target => '_blank'
          %div
            %nav
              %ul
                %li= link_to 'iniciativas', iniciativas_path
                %li= link_to 'integrantes del congreso', congresistas_path
                %li= link_to 'entiende tu congreso', entiende_tu_congreso_path
                %li= link_to 'comenta', comenta_path
                %li= link_to 'blog', 'http://curul-501.tumblr.com', :target => '_blank'

      %section#main-content
        = yield
      %footer
        %ul
          %li= link_to 'iniciativas', iniciativas_path
          %li= link_to 'integrantes del congreso', congresistas_path
          %li= link_to 'entiende tu congreso', entiende_tu_congreso_path
          %li= link_to 'comenta', comenta_path
          %li= link_to 'blog', 'http://curul-501.tumblr.com', :target => '_blank'
        %ul.logo
          %li= link_to image_tag('front/fundar-logo.png'), 'http://www.fundar.org.mx', :target => '_blank'
          %li= link_to image_tag('front/citivox-logo.png'), 'http://www.citivox.com', :target => '_blank'
      = yield :modals
      %script{:type => 'text/javascript'}
        $(function(){
        = yield :javascript_onload
        })
        
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) {return;}
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=287374454607456";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>